MYSQL_USERNAME=""
MYSQL_PASSWORD=""
MYSQL_DATABASE=""

STORAGE_PATH_WINDOWS=""
STORAGE_PATH_UNIX=""

BOT_TOKEN=""

AUTH_JWT_SECRET=""
AUTH_REFRESH_SECRET=""
AUTH_JWT_TOKEN_EXPIRES_IN=*m
AUTH_REFRESH_TOKEN_EXPIRES_IN=*d

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

MAIL_HOST=''
MAIL_PORT=0
MAIL_USERNAME=''
MAIL_PASSWORD=''