<!DOCTYPE html>
<html lang="Uk-ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="./src/style/panel.css">
</head>
<body>
    <div class="nav-bar">
        <div class="panel-logo">
            <h2>To Sell</h2>
            <p>Admin Panel</p>
        </div>
        <nav class="navigation-list">
            <a href="">Category</a>
            <a href="">News</a>
            <a href="">Attribute</a>
            <a href="">Static Pages</a>
        </nav>
    </div>
    <section class="section" id="welcome-header">
        <div class="header-content">
            <h1>Welcome to Admin Panel!</h1>
            <p>Let`s orginize together 😊</p>
        </div>
        <div class="header-image">
        </div>
    </section>
    <section class="section" id="statistics-grid" style="justify-content: center;">
        <div class="grid">
            <div class="element-container" id="news">
            <h1>News:</h1>
                <ul>
                    <li>Best new(id) - 10</li>
                    <li>Total - 12 news</li>
                </ul>
            </div>
            <div class="element-container" id="news">
                <h1>Categories:</h1>
                <ul>
                    <li>Most used category - Products</li>
                    <li>Total - 11 categories</li>
                </ul>
            </div>
            <div class="element-container" id="news">
                <h1>Attributes:</h1>
                <ul>
                    <li>Most used attribute - Size</li>
                    <li>Total - 10 attributes</li>
                </ul>
            </div>
        </div>
        
    </section>
</body>
</html>